
.aside__body{
    position:relative;
    left: 3%;
}

@media only screen and (min-width:321px) and (max-width:768px){
    .aside__img{
        display: grid;
        position: relative;
        left: 2%;
        grid-column: 1;
        grid-row: 3/4;
        width: 80%;
        height: 300px;
        align-items: center;
    }
    }
