
.input{

    width: 2%;
    height: 250px;
    position: relative;
    top: -250px;
    writing-mode: vertical-lr;
    text-align: center;
    left: -30px;
    font-family:$ostandartbold;
    font-size: $small;

}



@media only screen and (min-width:321px) and (max-width:768px){
    .input {
        grid-column: 1/2;
        grid-row: 5/6;
        height: 200px;
        width: 20%;
        left: 3%;
        padding-top: 300px;
        writing-mode: vertical-lr;
        text-align: right;
        font-family:$ostandartbold;
        font-size: $small;
    
    }

}