//Colors Scheme//
$white: #FFF;
$gray1: #ECECEC;
$gray2: #D1D1D1;
$gray3: #A6A5A8;
$gray4: #A6A5A8;
$black: #0C0910;


//Tipografías//
$raleway: 'Raleway', sans-serif;
$ralewaybold: 'Raleway', bold;
$ostandart: 'Old Standard TT', serif;
$ostandartbold: 'Old Standard TT', bold;

//Font Sizes//
$xxx-large:50px;
$xx-large:30px;
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;
